<select class="{{dropdown_select_class}}">
  <option value="{{dropdown_option1_value}}">{{dropdown_option1_content}}</option>
  <option value="{{dropdown_option2_value}}">{{dropdown_option2_content}}</option>
  <option value="{{dropdown_option3_value}}">{{dropdown_option3_content}}</option>
  <option value="{{dropdown_option4_value}}">{{dropdown_option4_content}}</option>
</select>
