<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #0C2047"></span>
    <span class="sg-label">
      $uc--positive <br />
      blue***
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #18B2E3"></span>
    <span class="sg-label">
      $uc--caution <br />
      bleu**
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #28E1ED"></span>
    <span class="sg-label">
      $uc--warning <br />
      bleu****
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FF2E53"></span>
    <span class="sg-label">
      $uc--warning <br />
      rouge***
    </span>
  </li>
</ul>
